/* common styles */
.show-more-hidden {
    display: block;
}

.projects-item .btn-small, .btn-square-min, .icon-liked {
    cursor: pointer;
}

.incart{
    background-color: #346697;
    border-color: #346697;
    color: #fff;
}

.service-link:hover{
    color: #3466dd;
}